body{

	background-image: url("http://4.bp.blogspot.com/-ckNQzDUbFzM/U4bf9CpGnLI/AAAAAAAANXQ/Le4D3tYr0AM/s1600/moon+hd+wallpaper+1.jpg");

}

/#container {
  width: 400px;
  margin: 0 auto;
  margin-top: 25%;
  text-align: center;
  color: white;
  font-size: 80px;
  font-weight: lighter;
}
#text span:nth-of-type(1) {
  -webkit-animation: first 3s infinite alternate;
  -moz-animation: first 3s infinite alternate;
  -o-animation: first 3s infinite alternate;
  animation: first 3s infinite alternate;
}
#text span:nth-of-type(2) {
  -webkit-animation: second 3s 0.2s infinite alternate;
  -moz-animation: second 3s 0.2s infinite alternate;
  -o-animation: second 3s 0.2s infinite alternate;
  animation: second 3s 0.2s infinite alternate;
}
#text span:nth-of-type(3) {
  -webkit-animation: third 3s 0.4s infinite alternate;
  -moz-animation: third 3s 0.4s infinite alternate;
  -o-animation: third 3s 0.4s infinite alternate;
  animation: third 3s 0.4s infinite alternate;
}
#text span:nth-of-type(4) {
  -webkit-animation: fourth 3s 0.6s infinite alternate;
  -moz-animation: fourth 3s 0.6s infinite alternate;
  -o-animation: fourth 3s 0.6s infinite alternate;
  animation: fourth 3s 0.6s infinite alternate;
}
#text span:nth-of-type(5) {
  -webkit-animation: fifth 3s 0.8s infinite alternate;
  -moz-animation: fifth 3s 0.8s infinite alternate;
  -o-animation: fifth 3s 0.8s infinite alternate;
  animation: fifth 3s 0.8s infinite alternate;
}
@-webkit-keyframes first {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@-moz-keyframes first {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@-o-keyframes first {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@keyframes first {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@-webkit-keyframes second {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@-moz-keyframes second {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@-o-keyframes second {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@keyframes second {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@-webkit-keyframes third {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@-moz-keyframes third {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@-o-keyframes third {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@keyframes third {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}  
@-webkit-keyframes fourth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@-moz-keyframes fourth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@-o-keyframes fourth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@keyframes fourth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@-webkit-keyframes fifth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@-moz-keyframes fifth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@-o-keyframes fifth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
@keyframes fifth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    text-shadow: 5px -1px 0px #5b5b5b;
  }
}
  @import url(http://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0px;
}
nav {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
}
#nav-1 {
  background: transparent;
}

.link-1 {
  transition: 0.3s ease;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 0;
  margin: 0 20px;
}
.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}

.body1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 3em;
  color: white;
  background-color: white;
}

p {
  overflow: hidden;
  max-width: 30em;
  line-height: 1.7;
  margin: 2em auto;
}

.read-more {
  display: none;
}

a {
  color: #3ac;
  transition: color 200ms ease-in;
}

a:hover {
  color: #c33;
}

/*a meida query for iphone up to 5*/
@media (min-width: 320px) and (max-width: 480px){
	html,body{
		background-image: url("http://www.crazythemes.com/images/iphone-wallpapers-2.jpg");
	}
}

/*a media query for an ipad 1-4*/
@media (min-device-width: 768px) and (max-device-width: 1024px){
	html,body{
		background-image: url("http://www.crazythemes.com/images/iphone-wallpapers-2.jpg");
	}
}
/*carosel*/
/*.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
  height: 100%;
}

.item:nth-child(1) {
  background: darkred;
}

.item:nth-child(2) {
  background: red;
}

.item:nth-child(3) {
  background: orange;
}